#yourTrack {
  display: none;
  border: 6px solid grey;
  margin: 10px;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

#cssInfo {
  display: none;
  margin: 15px;
}

#javaInfo {
  display: none;
  margin: 15px;

}

#cInfo {
  display: none;
  margin: 15px;
}

#blog {
  display: none;
  margin: 15px;
}

.jumbotron {
  padding: 4px;
  background-color: #629785;
}

.top {
  padding: 10px;
  margin: 10px;
  background-color: #bdded3;
}

body {
  font-size: 14pt;
  background-color: #e4f1eb;

}

ul {
  list-style: none;
}

ol {
  list-style: none;
}

.wellTitle {
  text-align: center;
}

.cssResult {
  background-color: #e4f1ed;
}

.javaResult {
  background-color: #d7ebe4;
}

.jorcResult {
  background-color: #cae4db;
}

.cResult{
  background-color: #bdded3;
}

img {
  height : 30%;
  width: 100%;
}

#track  {
  background-color: #f1f8f6;
}
