#yourTrack {
  display: none;
  border: 6px solid grey;
  margin: 10px;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

#cssInfo {
  display: none;
}

#javaInfo {
  display: none;
}

#cInfo {
  display: none;
}

#blog {
  display: none;
}

.jumbotron {
  padding: 4px;
}

.row {
  padding: 10px;
  margin: 10px;
}

body {
  font-size: 14pt;
}

ul {
  list-style: none;
}

.wellTitle {
  text-align: center;
}

.cssResult {
  background-color: #e4f1ed;
}

.javaResult {
  background-color: #d7ebe4;
}

.jorcResult {
  background-color: #cae4db;
}

.cResult{
  background-color: #bdded3;
}
